@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.custom-location-popup .leaflet-popup-content-wrapper {
  border-radius: 1rem;
  padding: 0;
  box-shadow: 0 20px 45px rgba(15, 23, 42, 0.18);
}

.custom-location-popup .leaflet-popup-content {
  margin: 0;
}

.custom-location-popup .leaflet-popup-tip {
  box-shadow: 0 12px 24px rgba(15, 23, 42, 0.12);
}

.leaflet-top.leaflet-right {
  top: 7vh;   /* залежить від висоти екрану */
}

/* */

/* LIGHT THEME */
.iphone-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}

.iphone-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.iphone-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.iphone-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 999px;
}

.iphone-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* DARK THEME */
.dark .iphone-scrollbar {
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.dark .iphone-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

.dark .iphone-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* RESET */
.custom-range {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  border-radius: 999px;
  background: linear-gradient(to right, #f97316 var(--value), #e5e7eb var(--value));
  outline: none;
}

/* THUMB (кільце) */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 999px;
  background: white;
  border: 3px solid #f97316; /* orange */
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.custom-range::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 999px;
  background: white;
  border: 3px solid #f97316;
  cursor: pointer;
}